@import "../../sass//sassStyles/typography";
@import "../../sass//sassStyles/variables";
@import "../../sass/sassStyles/mixins";
.todobox {
  background: #220131;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 40px;
  margin-bottom: 100px;
  @include othermedia(mDevice){
    width:calc(100vw - 40px);
    margin-bottom: 100px;
  }
  
  h3 {
    @include myfont(30px, 700, $main_font);
    margin: 0 0 20px 0;
    background: #9f51cc;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    @include myfont(18px, 400, $main_font);
    color: #fff;
    margin-bottom: 0;
  }
  input {
    height: 55px;
    width: 100%;
    @include myfont(13px, 400, $main_font);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding-left: 8px;

    border: 1px solid rgba(175, 0, 253, 0.4);
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    &:focus-visible {
      outline: none;
    }
  }
  .todobody {
    .tab-content {
      margin-top: 20px;
    }
    .nav-item {
      a {
        background-color: transparent;
        border-radius: 5px;
        display: inline-block;
        padding: 5px 10px;
        margin-right: 12px;
        background: #b09bbd;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 0;
        @include myfont(14px,600,$main_font);

        &.active {
          border-bottom: 2px solid #4d42b3;
        }
      }
    }
  }
}
.contentdiv {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  img {
    width: 45px;
    cursor: pointer;
  }
  h2 {
    @include myfont(25px, 500, $main_font);
    background: linear-gradient(
      297deg,
      #9f51cc 0.38%,
      rgb(99, 54, 223) 100.64%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    @include myfont(14px, 400, $main_font);
    color: #ffffff7c;
  }
}
